# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo-specific files
.expo/
.expo-shared/

# Build output
build/
dist/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Environment variables
.env
.env.local
.env.*.local

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.orig